{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Modifier une sortie
{% endblock %}

{% block body %}

    {% include 'modal/location/location_modal_create.html.twig' %}

    {% embed 'views/forms/activity_form.html.twig' %}
        {% block validationButtonLabel %}
            Modifier la sortie !
        {% endblock %}
        {% block publishButtonLabel %}
            Publier la sortie !
        {% endblock %}
    {% endembed %}
    {% if is_granted('ACTIVITY_DELETE', activity) %}
        <a href="{{ path('activity_delete', {'id': activity.id }) }}">
            <button>Supprimer la sortie !</button>
        </a>
    {% endif %}

{% endblock %}

{% block extrajs %}
    <script src="{{ asset('js/activityEvents.js') }}"></script>
{% endblock %}